# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/

# Build
build/
dist/

# Python cache
*.egg-info/

# Coverage
.coverage
htmlcov/